.list-item {
    min-width: 0;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.event-title {
    color: rgb(29, 29, 99);
}

.btns {
    display: flex;
    gap: 10px;

}

a {
    text-decoration: none;
}

.btns button,
.btns a {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    color: black;
    background-color: rgb(223, 219, 214);
    text-align: center;
}

.btns button:hover,
.btns a:hover {
    border: 1px solid rgb(37, 71, 209);
    cursor: pointer;
    transform: translateY(-3px);
}